
@import "~@angular/material/_theming.scss";
@import './app-theme';
@import './api';
@import './markdown';
@import './tables';
@import './general';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-cyan);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
