<nv-admin-layout style="height:400px;">

  <div class="nv-sidebar-content" fxFlex style="height:100%; background-color:#ddd;">
    Menu goes here
  </div>

  <div class="nv-app-content" style="color: rgba(0, 0, 0, 0.87);padding: 20px 20px 0px 20px;">
    content
  </div>

  <div class="nv-navbar-content" FxLayout="row" fxFlex style="display:flex;width:100%">
    <span style="flex: 1 1 auto;">Company name</span>
    <span></span>
    <button mat-icon-button fxFlex>
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="nv-footer" style="padding: 0px 20px 0px 20px;">
    Footer
  </div>

</nv-admin-layout>